.objects {
    border-collapse: collapse;
    margin: 0 0 1em 0;
    width: 100%;
}

.objects.header {
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.5em;
}

.objects.body {
    border: 1px solid #ccc;
    padding: 0.5em;
}

.header th {
    padding-left: 50px;
    padding-right: 50px;
    white-space: nowrap;
}

[data-theme="dark"] .required {
    color: #bfbf00;
}

[data-theme="light"] .required {
    color: #404000;
}
