# Default ignored files
/shelf/
/workspace.xml
/hotswap_agent.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Unnecessary plugin files
/discord.xml
/git_toolbox_prj.xml
/jsonSchemas.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
