.tagline {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  display: inline-flex;
  white-space: nowrap;
  user-select: none;

  animation: subtitleFadeIn 1s ease-in-out;
}

[data-theme="dark"] .tagline {
  color: #fff;
}

[data-theme="light"] .tagline {
  color: #494949;
}

@keyframes subtitleFadeIn {
  /* 後ろからスライドイン&徐々に拡大 */
  0% {
    transform: translateY(-40px) scale(0.1);
    opacity: 0;
  }
  70% {
    transform: translateY(-20px) scale(1);
    opacity: 0.7;
  }
  /* 一度着地して, はねるように */
  80% {
    transform: translateY(0);
    opacity: 0.8;
  }
  90% {
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.tagline .etymo {
  font-weight: bold;
  border-bottom: 1px solid #53bbff;
  color: #53bbff;
}

[data-theme="dark"] .tagline .verb {
  color: #2fd3ab;
}

[data-theme="light"] .tagline .verb {
  color: #26a888;
}

[data-theme="dark"] .tagline .noun {
  color: #eea485;
}

[data-theme="light"] .tagline .noun {
  color: #f68e5f;
}

.tagline .nonEtymo {
  width: 0;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: etymoTyping 3s steps(36) 1s forwards,
    /* キャレットを点滅。3秒後に停止 */ blink 2s step-end 4s forwards;
  animation-delay: 1.5s; /* フェードイン後に実行 */
}

@keyframes etymoTyping {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    border-right: 1px solid #fff;
  }
  20% {
    border-right: 1px solid transparent;
  }
  40% {
    border-right: 1px solid #fff;
  }
  60% {
    border-right: 1px solid transparent;
  }
  80% {
    border-right: 1px solid #fff;
  }
  100% {
    border-right: 1px solid transparent;
  }
}

@media (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  pre, .tagline {
    overflow: hidden;

    /* 自動スクロール */
  }

  .tagline {
    animation: autoScroll 14s linear infinite;
    animation-delay: 5s;
  }


  @keyframes autoScroll {
    0% {
      padding-left: 100%;
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.keepSpace {
  white-space: pre;
}

.tagline .afterEtymo {
  width: 0;
  overflow: hidden;
  max-width: 52px;
  display: inline-block;
  box-sizing: border-box;
  animation: etymoTyping 1s steps(5) 1s forwards,
    /* キャレットを点滅。3秒後に停止 */ blink 2s step-end 3s;
  animation-delay: 3.5s; /* フェードイン後に実行 */
}
