/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 20px auto;
  max-width: 1000px;
  text-align: center;
}

.container h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 10px;
    padding: 0;
}

.container p.description {
    font-weight: 400;
    margin: 0;
}
