.card {
    display: flex;
    align-items: flex-end;
    justify-items: start;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    padding: 1rem;

    border: 2px solid;
    border-radius: 15px;
}

.emoji {
    font-size: 4.5rem;
    margin-right: 0.5rem;
    user-select: none;

}

.text {
    text-align: left;
}
