.action {
    border-collapse: collapse;
    margin: 0 0 1em 0;
}

td.name {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

[data-theme="dark"] .able .label {
    color: #70b870;
}

[data-theme="light"] .able .label {
    color: #008000;
}

[data-theme="dark"] .unable .label {
    color: #b87070;
}

[data-theme="light"] .unable .label {
    color: #8d1a1a;
}

 .bigger {
    font-size: 1.25em;
    font-weight: bold;
}
